<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--==================== ICON WEBSITE ====================-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/Doc/Images/rishara-logo.png}" />

    <!--==================== BOOTSTRAP CSS ====================-->
    <link th:href="@{/Doc/Plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <!--==================== REMIXICON CSS ====================-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!--==================== SLICK SLIDER CSS ====================-->
    <link th:href="@{/Doc/Plugins/slick-carousel/slick/slick.css}" rel="stylesheet">
    <link th:href="@{/Doc/Plugins/slick-carousel/slick/slick-theme.css}" rel="stylesheet">

    <!--==================== MAIN CSS ====================-->
    <link th:href="@{/Doc/main.css}" rel="stylesheet">
    <!--==================== LOCAL CSS ====================-->
</head>
<body>
<!--==================== HEADER ====================-->
<header>
    <div class="header-top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <ul class="top-bar-info list-inline-item pl-0 mb-0">
                        <li class="list-inline-item">
                            <a href="mailto:support@gmail.com">
                                <i class="ri-question-answer-line mr-2"></i>rishara_hospital@moh.gov.my
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <i class="ri-map-pin-line mr-2"></i>43000 Cheras, Selangor, Malaysia
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                        <a href="tel:+60 3 8765 4321" >
                            <span>Call Now : </span>
                            <span class="h4">+60 3 8765 4321</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/Doc/Images/rishara-logo.png}" alt="" class="img-fluid" style="width: 70px; height: 70px;">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ri-menu-line"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Patient</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="/patients/list" th:href="@{/patients/list}">List of Patients</a></li>
                            <li><a class="dropdown-item" href="/patients/update" th:href="@{/patients/update}">Update Patient</a></li>
                            <li><a class="dropdown-item" href="/patients/signup" th:href="@{/patients/signup}">Add Patient</a></li>
                            <li><a class="dropdown-item" href="/patients/delete" th:href="@{/patients/delete}">Delete Patient</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Disease</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown02">
                            <li><a class="dropdown-item" th:href="@{/list-disease.html}">List of Disease</a></li>
                            <li><a class="dropdown-item" th:href="@{/patient-disease.html}">Patient's Disease</a></li>
                            <li><a class="dropdown-item" th:href="@{/symptom.html}">Symptom</a></li>
                            <li><a class="dropdown-item" th:href="@{/treatment.html}">Treatment</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/patients/view" th:href="@{/patients/view}">Health Data</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guidelines</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" th:href="@{/Doc/bmi.html}">BMI</a></li>
                            <li><a class="dropdown-item" th:href="@{/Doc/heart-rate.html}">Heart Rate</a></li>
                            <li><a class="dropdown-item" th:href="@{/Doc/blood-pressure.html}">Blood Pressure</a></li>
                            <li><a class="dropdown-item" th:href="@{/Doc/glucose-level.html}">Glucose Level</a></li>
                            <li><a class="dropdown-item" th:href="@{/Doc/cholesterol-level.html}">Cholesterol Level</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown04">
                            <li><a class="dropdown-item" th:href="@{/Doc/about.html}">About Us</a></li>
                            <li><a class="dropdown-item" th:href="@{/Doc/department.html}">Department</a></li>
                            <li><a class="dropdown-item" th:href="@{/Doc/service.html}">Service</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Doc/contact.html}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #e12454; color: #ffffff;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/healthDatas/view" th:href="@{/healthDatas/view}">Back to List of Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container my-5">
    <h3 class="text-center">Health Data Details</h3>
    <div class="text-right mb-3">
        <!-- Button to redirect to add new health data form -->
        <a th:href="@{/healthDatas/signup}" class="btn btn-primary">Add New Data</a>
    </div>
    <table class="table table-striped table-responsive-md">
        <thead class="text-center">
        <tr>
            <th>Timestamp</th>
            <th>Temperature</th>
            <th>BMI</th>
            <th>Weight (kg)</th>
            <th>Heart Rate (bpm)</th>
            <th>Systolic (mmHg)</th>
            <th>Diastolic (mmHg)</th>
            <th>Glucose Level (mg/dL)</th>
            <th>LDL</th>
            <th>HDL</th>
            <th>Triglycerides</th>
            <th>Total Cholesterol (mg/dL)</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <!-- Condition to check if heath data list is empty -->
        <tr th:if="${healthDatas.isEmpty()}">
            <td colspan="14"> No Data Available</td>
        </tr>
        <!-- Loop through each health data in the staff list -->
        <tr th:each="healthData : ${healthDatas}">
            <!-- Display health data details in each row -->
            <td th:text="${healthData.timestamp}"></td>
            <td th:text="${healthData.temperature}"></td>
            <td th:text="${healthData.BMI}"></td>
            <td th:text="${healthData.weight}"></td>
            <td th:text="${healthData.heartRate}"></td>
            <td th:text="${healthData.systolic}"></td>
            <td th:text="${healthData.diastolic}"></td>
            <td th:text="${healthData.glucoseLevel}"></td>
            <td th:text="${healthData.LDL}"></td>
            <td th:text="${healthData.HDL}"></td>
            <td th:text="${healthData.triglycerides}"></td>
            <td th:text="${healthData.total}"></td>
            <td><a th:href="@{/healthDatas/edit/{id}(id=${healthData.healthDataId})}" class="btn btn-success">
                <i class="ri-file-edit-line"></i>
            </a></td>
            <td><a th:href="@{/healthDatas/delete/{id}(id=${healthData.healthDataId})}"
                   onclick="return confirm('Are you sure you want to delete?');"
                   class="btn btn-danger">
                    <i class="ri-delete-bin-line"></i>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>



<!--==================== FOOTER ====================-->
<footer class="footer section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <div class="logo mb-4">
                        <img th:src="@{/Doc/Images/rishara-logo.png}" alt="" class="img-fluid" style=" width: 100px; height: 100px;">
                    </div>
                    <p>Excited to learn more? Visit our platform now and discover all that we have to offer!</p>

                    <ul class="list-inline footer-socials mt-4">
                        <li class="list-inline-item"><a href="https://www.facebook.com"><i class="ri-facebook-fill"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.twitter.com"><i class="ri-twitter-fill"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com"><i class="ri-linkedin-box-fill"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Department</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a th:href="@{/Doc/department.html}">Ophthalmology</a></li>
                        <li><a th:href="@{/Doc/department.html}">Pulmonology</a></li>
                        <li><a th:href="@{/Doc/department.html}">Cardiology</a></li>
                        <li><a th:href="@{/Doc/department.html}">Dental Care</a></li>
                        <li><a th:href="@{/Doc/department.html}">Child Care</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Support</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a th:href="@{/Doc/about.html}">Terms & Conditions</a></li>
                        <li><a th:href="@{/Doc/about.html}">Company Support </a></li>
                        <li><a th:href="@{/Doc/about.html}">Company Licence</a></li>
                        <li><a th:href="@{/Doc/about.html}">Privacy Policy</a></li>
                        <li><a th:href="@{/Doc/about.html}">FAQ Questions</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget widget-contact mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Get in Touch</h4>
                    <div class="divider mb-4"></div>

                    <div class="footer-contact-block mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="ri-mail-line icon-spacing"></i>
                            <span class="h6 mb-0">Support Available for 24/7</span>
                        </div>
                        <h4 class="mt-2"><a href="mailto:support@gmail.com">rishara_hospital@moh.gov.my</a></h4>
                    </div>

                    <div class="footer-contact-block">
                        <div class="icon d-flex align-items-center">
                            <i class="ri-customer-service-2-line icon-spacing"></i>
                            <span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
                        </div>
                        <h4 class="mt-2"><a href="tel:+60 3 8765 4321">+60 3 8765 4321</a></h4>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-btm py-4 mt-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="copyright">
                        &copy; Copyright Reserved to <span class="text-color">Rishara</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="subscribe-form text-lg-right mt-5 mt-lg-0">
                        <form action="#" class="subscribe">
                            <input type="text" class="form-control" placeholder="Your Email Address">
                            <a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a class="backtop js-scroll-trigger" href="#top">
                        <i class="ri-arrow-up-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--==================== MAIN JS ====================-->
<!-- Main jQuery -->
<script th:src="@{/Doc/Plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4.3.2 -->
<script th:src="@{/Doc/Plugins/bootstrap/js/popper.js}"></script>
<script th:src="@{/Doc/Plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/Doc/Plugins/counterup/jquery.easing.js}"></script>
<!-- Slick Slider -->
<script th:src="@{/Doc/Plugins/slick-carousel/slick/slick.min.js}"></script>
<!-- Counterup -->
<script th:src="@{/Doc/Plugins/counterup/jquery.waypoints.min.js}"></script>
<script th:src="@{/Doc/Plugins/counterup/jquery.counterup.min.js}"></script>
<!-- Shuffle -->
<script th:src="@{/Doc/Plugins/shuffle/shuffle.min.js}"></script>

<!--==================== LOCAL JS ====================-->
<script th:src="@{/Doc/script.js}"></script>

</body>
</html>
